body {
    /* background-image: url(../../images/signin-bg.jpeg);
    background-size: cover; */
    background: rgba(255,192,203, .1);
    color: #fff;
}

.logon {
    margin-top: 30px;
    max-width: 500px;
}

.logon .card {
    background: rgba(0, 0, 0, .5);
    /* border-radius: 50px; */
}

.logon .matte-black {
    background-color: #1b1b1b;
}

/* .logon .card-action {
    border-radius: 10px;
} */

.logon h3 {
    font-size: 32px;
}

.logon label {
    font-size: 16px;
    color: #949494;
    text-align: left;
}

.logon input {
    font-size: 20px !important;
}

.logon button {
    margin: 10px;
}

.logon button:hover {
    padding: 0 40px;
}


